
$color-a: #2c8993;
$color-b: #1e5c6f;

$color-c: #5D5C61;
$color-d: #567992;

$color-software: #5D5C61;
/*/////////////////////////////////////
	Filter Colors (IDE HIGHLIGHTER)
/////////////////////////////////////*/
$int: 10%;
$fc: $color-b;

// lighten($fc,$int)
// darken($fc,$int)
// saturate($fc,$int) 
// desaturate($fc,$int) 
//////////////////////////////////

// http://blog.visme.co/website-color-schemes/


$bgWebsite: #212121;
$bgGames: #353237;
$bgMusic: #19171A;
$bgPhoto: #19211E;
