@import "./colors.scss";

.block {
	min-height: 100vh;
	background-color: fadeout(#000, 80%);
	position: relative;
	overflow: hidden;
}
$side-skew-angle: 10deg;
$side-color-left: $color-darkBlue;
$side-color-right: $color-purple;

.side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	transform: skew($side-skew-angle * -1);
	transition: background-color 0.5s ease-in-out;

	&.left {
		z-index: 2; // Top
		background-color: $side-color-left;
		// Animations
		&.in {
			animation-name: slide-left;
			animation-duration: 1.5s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
		}

		&.idle {
			right: 49%;
			cursor: pointer;

			&:hover {
				background-color: lighten($side-color-left, 20%);
			}
		}

		&.goLeft {
			background-color: lighten($side-color-left, 20%);
			
			animation-name: fill-screenL;
			animation-duration: 1.5s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
		}
		
		&.goRight {
			animation-name: fill-screenR;
			animation-duration: 1.5s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
		}
	}

	&.right {
		z-index: 1; // Bottom
		background-color: $side-color-right;
		// Animations
		&.in {
			animation-name: slide-right;
			animation-duration: 1.5s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
		}

		&.idle {
			left: 50%;
			cursor: pointer;

			&:hover {
				background-color: lighten($side-color-right, 20%);
			}
		}

		&.goLeft {
			background-color: lighten($side-color-right, 20%);
			transform: skew(0);
		}
		&.goRight {
			background-color: lighten($side-color-right, 20%);
			transform: skew(0);
		}
	}
}
// IN
@keyframes slide-left {
	0% {
		right: -110%;
	}
	100% {
		right: 49%;
	}
}
@keyframes slide-right {
	0% {
		left: 110%;
	}
	100% {
		left: 50%;
	}
}

// OUT
@keyframes fill-screenL {
	0% {
		right: 49%;
		width: 100%;
	}
	100% {
		right: -50%;
		width: 200%;
	}
}
@keyframes fill-screenR {
	0% {
		right: 49%;
	}
	100% {
		right: 110%;
	}
}
