.page-welcome {
  background-image: linear-gradient(-15deg, #30292f 5%, #2c8993 95%);
  position: absolute;
  width: 100%;
  height: 100%; }

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%; }

.middle {
  display: table-cell;
  vertical-align: middle; }

.text-field {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  color: #ddf1ff; }
  .text-field.main {
    cursor: default;
    padding-top: 10%;
    opacity: 0.95;
    font-size: 260%;
    line-height: 37px; }
  .text-field.sub {
    cursor: pointer;
    opacity: 0.6;
    font-size: 150%; }

#start-link {
  transition: all 0.3s ease; }
  #start-link:hover {
    font-size: 1.5rem;
    color: #ffffff;
    opacity: 1;
    transform: scale(1.2); }

#logo-image {
  background-image: url("../assets/logo-hv.svg");
  display: block;
  position: fixed;
  background-repeat: no-repeat; }

.biz-link p {
  bottom: -0.5rem;
  width: 100%;
  height: 1rem;
  position: fixed;
  display: table;
  text-align: center;
  color: #1e5c6f;
  font-weight: 500;
  opacity: 0.65;
  cursor: pointer;
  transition: all 0.2s ease; }
  .biz-link p:hover {
    color: #ffffff;
    opacity: 1; }
