@import "./colors.scss";

.block {
	min-height: 100vh;
	background-color: fadeout(#000, 80%);
	position: relative;
	overflow: hidden;
}
$side-skew-angle: 10deg;
$side-color-left: $color-c;
$side-color-right: $color-d;
$light-intensity: 10%;


.side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	transform: skew($side-skew-angle * -1);
	transition: background-color 0.5s ease-in-out;

	&.left {
		z-index: 2; // Top
		background-color: darken($side-color-left, $light-intensity);
		// Animations
		&.in {
			animation-name: slide-left;
			animation-duration: 1.5s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
		}

		&.idle {
			right: 49%;
			cursor: pointer;

			&:hover {
				background-color: $side-color-left;
			}
		}

		&.goLeft {
			background-color: $side-color-left;
			animation-name: fill-screenL;
			animation-duration: 1.5s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
		}

		&.goRight {
			animation-name: fill-screenR;
			animation-duration: 1.5s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
		}
	}

	&.right {
		z-index: 1; // Bottom
		background-color: darken($side-color-right, $light-intensity);
		// Animations
		&.in {
			animation-name: slide-right;
			animation-duration: 1.5s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
		}

		&.idle {
			left: 50%;
			cursor: pointer;

			&:hover {
				background-color: $side-color-right;
			}
		}

		&.goLeft {
			background-color: $side-color-right;
			transform: skew(0);
		}

		&.goRight {
			width: 100%;
			background-color: $side-color-right;
			transform: skew(0);
		}
	}
}
// IN
@keyframes slide-left {
	0% {
		right: -110%;
	}

	100% {
		right: 49%;
	}
}
@keyframes slide-right {
	0% {
		left: 110%;
	}

	100% {
		left: 50%;
	}
}
// OUT
@keyframes fill-screenL {
	0% {
		right: 49%;
		width: 100%;
	}

	100% {
		right: -50%;
		width: 200%;
	}
}
@keyframes fill-screenR {
	0% {
		right: 49%;
	}

	100% {
		right: 120%;
	}
}

.labelContainer {
	position: relative;
	width: 50%;
	height: stretch;
	float: left;
	z-index: 4;
	pointer-events: none;
}

.label {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	
	// color: black;
	z-index: 5;
	font-size: 3rem;
	
	transition: all 0.3s ease;
}

///////////////////////////////////
