.page-welcome {
  background-image: linear-gradient(to top, #30292f 20%, #413f54 80%);
  position: absolute;
  width: 100%;
  height: 100%; }

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%; }

.middle {
  display: table-cell;
  vertical-align: middle; }

.inner {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 30rem; }

.text-field {
  text-align: center;
  color: #ddf1ff; }
  .text-field.main {
    cursor: default;
    opacity: 0.95;
    font-size: 3rem; }
  .text-field.sub {
    cursor: pointer;
    opacity: 0.6;
    font-size: 1rem; }

#start-link {
  transition: all 0.3s ease; }
  #start-link:hover {
    font-size: 1.5rem;
    color: #ffffff;
    opacity: 1;
    transform: scale(1.2); }

#logo-image {
  background-image: url("../assets/logo-hv.svg");
  display: block;
  position: fixed;
  background-repeat: no-repeat;
  width: 276px;
  height: 310px;
  transform: scale(1.75);
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  filter: blur(1px) grayscale(80%) hue-rotate(-75deg);
  animation: App-logo-rotate infinite 10s ease-in-out; }

@keyframes App-logo-rotate {
  0% {
    transform: perspective(500) scale(1.75) rotateY(20deg); }
  50% {
    transform: perspective(500) scale(1.75) rotateY(-20deg); }
  100% {
    transform: perspective(500) scale(1.75) rotateY(20deg); } }
