/*/////////////////////////////////////
	Filter Colors (IDE HIGHLIGHTER)
/////////////////////////////////////*/
.block {
  min-height: 100vh;
  background-color: fadeout(#000, 80%);
  position: relative;
  overflow: hidden; }

.side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform: skew(-10deg);
  transition: background-color 0.5s ease-in-out; }
  .side.left {
    z-index: 2;
    background-color: #444347; }
    .side.left.in {
      animation-name: slide-left;
      animation-duration: 1.5s;
      animation-timing-function: ease;
      animation-fill-mode: forwards; }
    .side.left.idle {
      right: 49%;
      cursor: pointer; }
      .side.left.idle:hover {
        background-color: #5D5C61; }
    .side.left.goLeft {
      background-color: #5D5C61;
      animation-name: fill-screenL;
      animation-duration: 1.5s;
      animation-timing-function: ease;
      animation-fill-mode: forwards; }
    .side.left.goRight {
      animation-name: fill-screenR;
      animation-duration: 1.5s;
      animation-timing-function: ease;
      animation-fill-mode: forwards; }
  .side.right {
    z-index: 1;
    background-color: #435e72; }
    .side.right.in {
      animation-name: slide-right;
      animation-duration: 1.5s;
      animation-timing-function: ease;
      animation-fill-mode: forwards; }
    .side.right.idle {
      left: 50%;
      cursor: pointer; }
      .side.right.idle:hover {
        background-color: #567992; }
    .side.right.goLeft {
      background-color: #567992;
      transform: skew(0); }
    .side.right.goRight {
      width: 100%;
      background-color: #567992;
      transform: skew(0); }

@keyframes slide-left {
  0% {
    right: -110%; }
  100% {
    right: 49%; } }

@keyframes slide-right {
  0% {
    left: 110%; }
  100% {
    left: 50%; } }

@keyframes fill-screenL {
  0% {
    right: 49%;
    width: 100%; }
  100% {
    right: -50%;
    width: 200%; } }

@keyframes fill-screenR {
  0% {
    right: 49%; }
  100% {
    right: 120%; } }

.labelContainer {
  position: relative;
  width: 50%;
  height: stretch;
  float: left;
  z-index: 4;
  pointer-events: none; }

.label {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  font-size: 3rem;
  transition: all 0.3s ease; }
