@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
	font-family: Inconsolata;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
}

html, body, #root {
	position: absolute;
	width: 100%;
	height: 100%;
}
